@import "tailwindcss";

/* Enable daisyUI */
@plugin "daisyui";

/* Your custom themes */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
}

@plugin "daisyui/theme" {
  name: "black";
  default: false;

  /* Twitter colors */
  --color-primary: rgb(29, 155, 240);
  --color-secondary: rgb(24, 24, 24);
}
